@charset "utf-8";
.logo{
    padding: 0;
}
#mycarousel {
    margin: 50px 0 0 0;
}
#navbar-collapse ul{
    margin-top: 0px;
}
.carousel-inner img{
    margin: 0 auto;
}
.carousel-control{
    font-size: 100px;
}